:global .ant-tabs-nav{
    width:1121px;
    height:41px;
    font-size: 25px;
    margin: 0px  auto !important;
    background-color: white;
    border-radius: 0 0 17px 17px;
    box-shadow: 5px 5px 5px rgb(232, 230, 230);
}
.siderRight{
    
    /* height: 579px; */
    background-color: white;
    left:846px;
    /* margin-top:59px; */
    border-radius: 17px;
    box-shadow: 5px 5px 5px rgb(232, 230, 230);
}
:global .ant-layout-sider-children{
    margin-top: -165px;
}
.iconHeader{
    width:128px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    color:rgb(36, 145, 255,1);
    margin:3px auto
}
.icon{
    font-size: 30px;
}
:global .ant-card{
    width:390px;
    height:145px;
    margin: 0 auto;
    background-color: rgba(242, 242, 242, 0.709803921568627);
}

:global .ant-row{
    font-family: '等线', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 390px;
    margin: -8px 5px 5px 5px;
}
:global :global.ant-card{
    border-radius: 10px;
}
:global .ant-card-meta{
    flex-direction: row;
    justify-content: flex-start;
    width:140px;
    height:60px;
    margin: 2px 23px !important;
    
}
:global(.wrapper .ant-list-item) {
    display:block;
    height:110px;
    width:390px
}
.logo{
   width:32px;
   height: 37px;

}
.logoHeader{
    color:rgb(36, 145, 255,1);
    width:83px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin: 25px 0px 25px 39px;
}
.logoDescription{
    font-size: 16px;
    text-align: center;
    line-height: 37px;
    font-weight: 700;
}
.columns{
     width:390px ;
    /* height: 110px;  */
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 10px 0px 2px white;
}
.columnsAvatar{
    width: 61px;
    height: 79px;
    line-height: 48px;
    font-size: 18px;
    margin-top: -27px;
    margin-left: 10px;
}
.content{
    width:390px;
    margin-left:0px;
    /* height:168px; */
    border-radius:17px;
    background-color: rgba(242, 242, 242, 0.709803921568627);
}
.articleImg{
    width:61px;
    height: 79px;
    margin: 15px 29px 0px 30px;
}
.createArticle{
    width: 51px;
    height: 24px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 2px;
    text-align: center;
   margin-left: 290px;
   margin-top: 10px;
}
:global .ant-list-item-meta-avatar{
    /* margin-right: 50px; */
    width:61px;
    height: 79px;
    margin: -19px 29px 0px 30px;

}
:global .ant-list-item-meta-title{
    font-size: 20px;
    margin: -80px 0px 0px 100px;
}
:global(.wrapper .ant-list-item-meta-description){
    font-size: 16px;
    color:black;
    margin: 25px 0px 0px 100px
}
.creation{
    width:390px ;
    height: 38px;
    border-radius: 10px;
    margin: 30px 0px 0px 40px;

    font-size: 20px;
    text-align: center;
}
.creations{
    font-size: 20px;
    text-align: center;
}
.columnsHeaderCreate{
    width:320px;
    height:40px;
    left: 23px;
    border-radius: 10px;
    border: 1px rgb(36, 145, 255,1) solid;
}
.columnsDescriptionCreate{
    width:320px;
    height:155px;
    left: 25px;
    border-radius: 10px;
    border: 1px rgb(36, 145, 255,1) solid;
}